# 忽略 Python 缓存
__pycache__/
*.py[cod]

# 忽略环境配置
.env
.venv
env/
/target/

# 忽略 Mac 系统文件
.DS_Store

# 关于数据文件
# 建议：如果音频文件太大 (>100MB)，请取消下面这行的注释
# 原始音频文件/

# 关于模型文件
# 如果你的 .pth 模型超过 100MB，GitHub 普通上传会失败，需要用 Git LFS
# 如果小于 100MB，可以上传
